@charset "utf-8";
/*
  ************************************************************************
  *  LAYOUT CSS 
  ************************************************************************
  * font-family: 'Dosis', sans-serif;
  * font-family: 'Shadows Into Light Two', cursive;
*/
body { overflow-y:scroll; }
header { /*height:216px;*/ height:210px;  }
#headerBg { display: block; overflow: hidden; clear:both; position:relative; }
.slide-wrapper { min-height:20px; top:210px; }

#aboutMenus { display:block; overflow:hidden; clear:both; width:960px; margin:0 auto; margin-top:10px; height:30px; background-color:#551113; }
#aboutMenus>a { display:block; overflow:hidden; float:left; width:240px; height:30px; background-color:#282828; text-align:center; color:#fff; font-size:16px; }
#aboutMenus>a:nth-child(1) { background-color:#6a6a6a; }
#aboutMenus>a:nth-child(2) { background-color:#4c4c4c; }
#aboutMenus>a:nth-child(3) { background-color:#373737; }
#aboutMenus>a:nth-child(4) { background-color:#282828; }
#aboutMenus>a>span { display: table-cell; overflow:hidden; width:240px; height:30px; text-align:center; vertical-align:middle; }
#aboutMenus>a.active, #aboutMenus>a:hover { background-color:#cb1317; }

.aboutContent { display:block; overflow:hidden; clear:both; padding-bottom:44px; background-color: #fafafa; position:relative; }
.aboutContent>.backPress { display:block; overflow:hidden; clear:both; position:absolute; right:0px; top:0px; z-index:2; }
.aboutContent>h2 { display:block; overflow:hidden; clear:both; padding:0px 30px; padding-top:30px; margin-bottom:16px; font-size:18px; font-weight:bold; }

.newsList { display:block; overflow:hidden; clear:both; color:#404040; }
.newsList>.newsL { display:block; overflow:hidden; clear:both; padding:10px; color:#404040; border-bottom:4px solid #d6d6d6; }
.newsList>.newsL>img { float:left; margin-right:20px; padding:3px; border:1px solid #d6d6d6; }
.newsList>.newsL>strong { display:block; overflow:hidden; margin-bottom:10px; padding-right:6px; font-size: 18px; line-height:18px; }
.newsList>.newsL>span { display:block; overflow:hidden; margin-bottom:10px; padding-right:6px; font-size:16px; line-height:18px;  }
.newsList>.newsL>.more { display:block; overflow:hidden; float:right; color:#404040; font-size: 14px; }
.newsList>.newsL:hover { color:#f00; }

.newsContent { display:block; overflow:hidden; clear:both; padding:0px 30px; text-align:justify; font-size:16px; }

.newsContent a { color:#cb1317; }
.newsContent a:hover { color:#282828; }

.teamArea { display:block; overflow:hidden; clear:both; background-color:#d6d6d6; }
.teamArea>.leftTeam { display:block; overflow:hidden; float:left; width:478px; }
.teamArea>.rightTeam { display:block; overflow:hidden; float:right; width:478px; }
.teamArea .team { display:block; overflow:hidden; clear:both; min-height:260px; background-color:#fafafa; border-bottom:4px solid #d6d6d6; position:relative; }
.teamArea .team>.teamPhoto { display:block; overflow:hidden; clear:both; width:446px; height:252px; padding:16px; position:absolute; left:0px; top:0px; z-index:0; }
.teamArea .team>.teamName { display:block; overflow:hidden; float:left; clear:both; margin-top:22px; margin-bottom:220px; margin-left:12px;  padding:5px 11px 5px 8px; background-color:#fafafa; color:#4c4c4c; font-size:17px; font-weight:bold; position:relative; z-index:1; }
.teamArea .team>.teamContent { display:block; overflow:hidden; clear:both; padding:14px 16px; text-align:justify; font-size:14px; }

.referencesTable { margin:20px 30px; }
.referencesTable>thead>tr>th { padding:6px 16px; background-color:#777777; color:#eeeeee; font-size:18px; font-weight:normal; }
.referencesTable>thead>tr>th:nth-child(3){ text-align:right; }
.referencesTable>thead>tr>td { width:20px; }
.referencesTable>tbody>tr>th {  }
.referencesTable>tbody>tr>td { width:460px; }
.referencesTable>tbody>tr>td>table{ width:100%; margin:14px 0px; }
.referencesTable>tbody>tr>td>table>tbody>tr { border-bottom:1px solid #b7b7b7; }
/*.referencesTable>tbody>tr>td>table>tbody>tr:nth-child(2n) { background-color:#820c10; }*/
.referencesTable>tbody>tr>td>table>tbody>tr>td { padding:8px 16px; background-image:url(../../images/ref-right-icon.png); background-repeat:no-repeat; background-position:2px center; color:#373737; font-size:16px; }
.referencesTable>tbody>tr>td:nth-child(3)>table>tbody>tr>td { background-image:url(../../images/ref-left-icon.png); background-position:right center; text-align:right; }

/*.teamsTable { width:100%; }
.teamsTable>thead>tr>th { padding:10px 10px; background-color:#690a0d; text-align:center; font-family: 'DINbekBold'; font-size: 14px; }
.teamsTable>thead>tr>td {  }
.teamsTable>tbody>tr>th { padding:5px 10px; }
.teamsTable>tbody>tr>td { width:400px; padding:5px 0px; background-color:#820c10; text-align:justify; font-size:14px; line-height:18px; }*/

.teamMore{display: block; overflow: hidden; clear : both; font-size: 16px; }
.teamMore table{
    width: 100%;
    margin-top: 22px;
    margin-bottom: 25px;
}
.teamMore table thead tr th{
    text-align: center;
    padding: 7px;
    color: #ffffff;
    background-color: #860c0f;
}
.teamMore table tbody tr{
    border-bottom: 1px solid #888888;
}
.teamMore table tbody tr td{
    padding: 7px;
    text-align: center;
}