@charset "utf-8";
/*
  ************************************************************************
  *  LAYOUT CSS 
  ************************************************************************
  * font-family: 'Dosis', sans-serif;
  * font-family: 'Shadows Into Light Two', cursive;
*/
body { overflow-y:scroll; }

header { /*height:216px;*/ height:210px; background-color:#d6d6d6; }
#headerBg { display: block; overflow: hidden; clear:both; position:relative; }

#subMenus { display:block; overflow:hidden; clear:both; width:960px; margin:0 auto; margin-top:10px; height:30px; background-color:#282828; }
#subMenus>a { display:block; overflow:hidden; float:left; width:480px; height:30px; text-align:right; color:#eeeeee; font-size:16px; }
#subMenus>a>span { display: table-cell; overflow:hidden; width:450px; height:30px; padding:0px 15px; text-align:right; vertical-align:middle; }
#subMenus>a:first-child>span { text-align:left; }
#subMenus>a.active, #subMenus>a:hover { background-color:#cb1317; }

.construstionList { display:block; overflow:hidden; clear:both; padding-top:210px; padding-bottom:42px; }
.construstionList a { display:block; overflow:hidden; float:left; width:311px; height:112px; margin-right:13px; margin-bottom:20px; background-color:#fafafa; background-image:url(../../images/insaat-proje-bg.png); background-repeat:no-repeat; background-position:right bottom; text-align:center; color:#404040; }
.construstionList a strong{display: table-cell; overflow:hidden; width:285px; height: 112px; padding:0px 13px; text-align:center; vertical-align:middle; font-size:22px; line-height:29px; font-weight:normal; }
.construstionList a:hover { background-color:#d6d6d6; }
.construstionList a.clRight { float:right; margin-right:0px; }
.construstionList .clClear { display:block; overflow:hidden; clear:both; height:0px; text-indent:-99999px; }

.kunyeTable { width:800px; }
.kunyeTable>thead>tr { background-color:rgba(0,0,0,0.7); }
.kunyeTable>thead>tr>th { padding:8px; text-align:center; color:#d5d5d5; font-size:20px; }
.kunyeTable>tbody>tr { background-color:#000000; }
.kunyeTable>tbody>tr>th { padding:3px; text-align:center; color:#616161; font-size:16px; border-right:1px solid #323232; }
.kunyeTable>tbody>tr>th:last-child { border:none; }
.kunyeTable>tbody>tr>th.borderNone { padding-top:10px; border:none; }
.kunyeTable>tbody>tr>td { padding:3px; text-align:center; color:#d5d5d5; font-size:14px; border-right:1px solid #323232; }
.kunyeTable>tbody>tr>td:last-child { border:none; }

#consGalleryArea { display:block; overflow:hidden; clear:both; width:800px; height:450px; position:relative; }
#consGalleryArea>span { display:block; overflow:hidden; clear:both; width:50px; height:50px; background-repeat:no-repeat; background-position:center center; text-indent:-99999px; cursor:pointer; outline:none; position:absolute; top:48%; z-index:1; opacity:0; }
#consGalleryArea>span.prew { background-image:url(../../images/back.png); left:10px; }
#consGalleryArea>span.next { background-image:url(../../images/forward.png); right:10px; }
#consGalleryArea:hover>span { opacity:1; }
#consGalleryArea>#consGallery { display:block; overflow:hidden; clear:both; width:800px; height:450px; position:relative; z-index:0; }
#consGalleryArea>#consGallery>span { display:none; width:100%; height:615px; background-repeat:no-repeat; background-position:center top; text-indent:-99999px; position:absolute; left:0px; top:0px; z-index:0; }
#consGalleryArea>#consGallery>span.active { z-index:1; }