@charset "utf-8";
/*
  ************************************************************************
  *  LAYOUT CSS 
  ************************************************************************
  * font-family: 'Dosis', sans-serif;
  * font-family: 'Shadows Into Light Two', cursive;
*/
body { color: #363636; }
.infoPos { position: absolute; top: 22px;}
/*
#viewport {
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
}
*/
#viewport { }
/*
.slide-wrapper {
    width: 960px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 23; overflow: visible;
}*/
.slide-wrapper { width: 960px; height: 1079px; height: 920px; margin: 0px auto; position: relative; top: 0px; left: 0%; right: 0%; z-index: 23; overflow: visible; }
/*
  ************************************************************************
  *  SLIDE CSS 
  ************************************************************************
  * 
*/
.text { width: 495px; height: 382px; position: absolute; z-index: 99; top: 0px; left: 0px; font-size: 12px; overflow: hidden; color: #000; text-align: left; }
.text strong { color: #820c0f; font-size:42px; line-height:48px; font-family: 'DINProBlack'; }
.text p { color: #303030; font-size:14px; text-align: justify; }
.images { display: block; float: left; position: absolute; z-index: 33; }
.border { padding: 12px; background-color: #fff; border-radius: 2px; overflow: hidden; box-shadow: 7px 7px 10px rgba(0,0,0,0.15);/*transition: all 0.4s ease-in-out;*/ }
.shadow { text-shadow: 0px 0px 1px rgba(119, 119,122, 0.1); }
.pos0 { top: 100px; left: 350px; }

/* --- home --- */
.bg { width: 100%; height: 1080px; height: 920px; position: relative; z-index: 2; overflow: hidden; }
.bg_home { background: url(../../images/home.jpg) center top no-repeat; z-index: 2; }
#home .pos1 { top: 284px; left: -124px; }
#home .pos2 { top: 448px; left: 186px; }
/*#home .pos3 { top: 348px; left: 338px; }*/
#home .pos4 { top: 374px; left: 772px; }
#home .pos5 { top: 416px; left: 750px; }
#home .pos7 { top: 216px; left: 150px; width: 224px; text-align: right; }
#home .pos8 { top: 216px; left: 520px; width: 288px; text-align: left; }
#home .indexProjeSlide { display:block; overflow:hidden; clear:both; width:210px; height:216px; position:absolute; top:627px; z-index:1; }
#home .indexProjeSlide>img { display:none; position:absolute; left:0px; top:0px; z-index:0; }
#home .indexProje-1 { left:111px; }
#home .indexProje-2 { width:281px; height:289px; left:334px; top:591px; }
#home .indexProje-3 { right:122px; }

/* --- profil --- */
.bg_profil { background: url(../../images/profil.jpg) center top no-repeat; color: #fff; z-index: 3; }
#profil .boxAndShadow {width: 469px; height: 643px; top: 280px; position: absolute; z-index: 98;}
#profil .textTasiyici {width: 394px; height: 659px; /*top: 280px;*/ top: 170px; left: 500px; position: absolute; z-index: 99;}
#profil .textTasiyici .back { display:none; position: absolute; z-index: 100; top: 0px; right: 0px; background: url(../../images/back3.png) left top no-repeat; width: 100px; height: 31px;  overflow: hidden; }
#profil .textTasiyici .back a, #profil .textTasiyici .back span{display: block; height: 31px; text-indent: -9999px; overflow: hidden; cursor:pointer; outline:none; }
#profil .textTasiyici .text { width: 308px; height:500px; position: absolute; top: 10px; left: 8px; z-index: 98; padding:20px 30px 40px 30px; background-color: #fafafa;}
#profil .textTasiyici .text strong{ padding-bottom:20px; display: block; text-align: left; font-size: 32px; line-height: 34px; color:#404040; }
#profil .textTasiyici .text .textData{ display:block; overflow:hidden; clear:both; height:450px; text-align: justify; font-size:14px; line-height:18px; color: #707070;}

#profil .textTasiyici .textinfo{display: none;}
#profil .textTasiyici .active{display: block;}
#profil .textTasiyici ul.menus{position: absolute; z-index: 100; bottom:46px; left: 0px;  list-style: none; margin: 0px; padding: 0px; }
#profil .textTasiyici ul.menus li{width: 124px; height: 66px; background: #4b4b4b url(../../images/iconn7.png) 100px 18px no-repeat; float: left; margin-right: 6px;}
#profil .textTasiyici ul.menus li a{padding-left:10px; padding-top:8px; display: block; color: #ffffff; font-size:18px; font-weight: normal; cursor: pointer;}
#profil .textTasiyici ul.menus li.active, #profil .textTasiyici ul.menus li:hover {background: #b4b4b4 url(../../images/iconn6.png) 100px 18px no-repeat;}
#profil .textTasiyici ul.menus li.active a, #profil .textTasiyici ul.menus li:hover a { color:#1b1b1b; }
#profil .textTasiyici ul.menus li.lastchild {margin-right: 0px !important;}




/* --- proje --- */
.bg_proje { background: url(../../images/proje.jpg) center top no-repeat; color: #fff; z-index: 4; }
#proje .text{ position: relative; width: 300px; padding: 0px; overflow: hidden; top: 280px; left: 124px; }
#proje .text strong{ color: #820c0f; font-size:42px; line-height:48px;  }
#proje .text p{ color: #303030; font-size:16px; text-align: justify; padding-top: 6px; padding-bottom: 30px;}
#proje .text .scrollDataText{ height:330px; overflow:hidden; color: #303030; font-size:14px; text-align: justify; }
#proje .pos1 {top:280px; left:124px;}
#proje .pos2 {top:300px; left:450px;}
#proje .pos3 {top:200px; left:480px;}
#proje .pos4 {top:150px; left:124px;}

/* --- uygulama --- */
.bg_uygulama {  background: #f8f9fb url("../../images/uygulama.jpg") center center no-repeat; background-size: cover;  z-index: 5; background-color:#000;  }
#uygulama .text{ position: absolute; width: 300px; top:200px; left:52%; z-index: 35; background-color: #f8f9fb; padding: 25px; overflow: hidden; height: auto; }
#uygulama .videoImg{ }
#uygulama .text strong{color: #820c0f; font-size: 38px; padding-top: 6px; display: block; }
#uygulama .text p{color: #303030; font-size: 16px; line-height: 20px; text-align: justify; padding-top: 10px; }
/*#uygulama .videoPlay { position: relative; z-index: 3; display: block; height: auto; max-width: 100%; top:0; right: 0; bottom: 0; left: 0; background-color: red;}*/
#uygulama .videoPlay { display:block; overflow:hidden; clear:both; position:absolute; left:0px; top:0px; width:100%; height:auto; }
#uygulama a.construction-giris{display: block; overflow:hidden; clear:both; width:163px; height:50px; margin:0 auto; margin-top: 20px; margin-bottom:14px; background-image:url(../../images/construction-entry.png); background-repeat:no-repeat; background-position:left top; text-indent:-99999px; cursor:pointer; }
#uygulama a.construction-category { display:none; overflow:hidden; float:left; width:120px; padding:10px 10px 6px 10px; background-color:#000; text-align:center; color:#ffffff; font-size:20px; line-height:24px; font-family: 'DINbekLight'; border-radius:6px; }
#uygulama a.construction-category.ccRight { float:right; }

/* --- Hakkimizda --- */
.bg_hakkimizda { background: url(../../images/hakkimizda.jpg) center top no-repeat; color: #fff; z-index: 6; }
#hakkimizda .text { width: 370px; height: 1020px; padding: 370px 45px 45px 45px; top: -150px; left: 30px; transform: rotate(-19deg); -ms-transform: rotate(-19deg); -webkit-transform: rotate(-19deg); }
#hakkimizda .pos1 {top:40px; left:-20px;}
#hakkimizda .pos2 {top:444px; left:26px;}
#hakkimizda .pos3 {top:120px; left:840px;}
#hakkimizda .pos4 {top:275px; left:876px;}
#hakkimizda .pos5 {top:704px; left:920px;}

#hakkimizda .box {float: left; width: 196px; height: 212px; background: #fafafa url(../../images/icon-4.jpg) 11px 11px no-repeat; position: absolute; color: #bababa; border-bottom:2px solid #cb1317; z-index: 35;}
#hakkimizda .box>a{font-size:27px; font-weight:bold; display: block; overflow: hidden; width: 196px; height: 212px; color: #bababa;}
#hakkimizda .box>a:hover {color: #313131;}
#hakkimizda .box>a>span {display: block; padding-top: 178px; padding-left:10px;}
#hakkimizda .pos6 {top: 580px; left:54px;}
#hakkimizda .pos7 {top: 580px; left:268px;}
#hakkimizda .pos8 {top: 580px; left:483px;}
#hakkimizda .pos9 {top: 580px; left:700px;}

/* --- iletisim --- */
.bg_iletisim { background: url(../../images/iletisim.jpg) center center no-repeat; color: #fff; z-index: 7;  height: 1080px;}
#iletisim .pos1 {color: #000; font-size: 70px;display: block; font-family: 'menus'; top: 286px; left: 264px; }
#iletisim .address{width: 260px; top:376px; left: 270px; color: #393838; }
#iletisim .address strong{color: #760f0f; font-weight: bold; padding-bottom: 16px; display: block;}
#iletisim .address p{line-height: 16px;}
#iletisim .address a{color: #760f0f;}
#iletisim .address a:hover{color: #141716;}

#iletisim .maps{display:none; width: 160px; top: 455px; left: 380px; color: #393838; }


#iletisim .forms{width: 220px; top:376px; left:470px; color: #393838; }
#iletisim .forms a{color: #760f0f;}
#contactForm { overflow: hidden; ; }
#contactForm fieldset {  }
#contactForm fieldset legend { color: #760f0f; font-weight: bold; padding-bottom: 10px;}
#contactForm label { display: block; padding-right: 4px; padding-bottom: 4px; font-size: 0.9em;}
#contactForm label select, #contactForm label textarea{padding: 3px; width: 96%;}
#contactForm label input[type="text"], #members textarea{width: 96%; margin-top: 4px; padding:3px;}
#contactForm input[type='button'] { float: right; font-size: 1.1em; background-color: #3B3B3B; color: #fff; border: 1px solid #3B3B3B;margin-bottom: 4px; }
#contactForm  .iletisimSonuc { display: block; clear: both; color: red; }
#contactForm  .iletisimSonuc span { color: #333; }


.languages{
    display: block;
    overflow: hidden;
    position:absolute;
    top: 7px;
    left: 9px;
}
.languages a{
    display: block;
    float: left;
    margin-right: 7px;
}