#proje .text strong{
    font-size: 36px;
}

#uygulama a.construction-giris{
    background-image: url(../../images/construction-entry-en.png);
}


#profil .textTasiyici ul.menus li a {
    padding-left: 5px;
    padding-top: 15px;
    font-size: 16px;

}


#profil .textTasiyici .back {
    background: url(../../images/back3-en.png) left top no-repeat;
}

#uygulama a.construction-category{
    font-size: 18px;
}

.text strong{
    font-size: 38px;
}

#home .pos7{
    width: 374px;
}