@charset "utf-8";
/*
  ************************************************************************
  *  RESET STYLE
  ************************************************************************
*/
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: text-top; }
html, body { height: 100%; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] {
 display: none;
}
* { /*line-height: 1;*/ outline: none; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
span, p, strong, em { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: inherit; font-weight: inherit; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
caption, th { text-align: left; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
sup { vertical-align: super; font-size: xx-small; }
sub { vertical-align: sub; font-size: xx-small; }
legend { color: #000; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], input[disabled] { cursor: default; }
input, select { vertical-align: middle; }
/*
  ************************************************************************
  *  WEBFONTS
  ************************************************************************
*/
@font-face { font-family: 'DINbekBold'; src: url('../webfonts/ff-bold-webfont.eot'); src: url('../webfonts/ff-bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../webfonts/ff-bold-webfont.woff') format('woff'), url('../webfonts/ff-bold-webfont.ttf') format('truetype'), url('../webfonts/ff-bold-webfont.svg#DINbekBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DINbekLight'; src: url('../webfonts/ff-light-webfont.eot'); src: url('../webfonts/ff-light-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../webfonts/ff-light-webfont.woff') format('woff'), url('../webfonts/ff-light-webfont.ttf') format('truetype'), url('../webfonts/ff-light-webfont.svg#DINbekLight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'tlWebFonts'; src: url('../webfonts/webfonts-tl.eot'), url('../webfonts/webfonts-tld41d.eot?#iefix') format('embedded-opentype'), url('../webfonts/webfonts-tl.woff') format('woff'), url('../webfonts/webfonts-tl.ttf') format('truetype'), url('../webfonts/webfonts-tl.svg#AbakuTLSymSansRegular') format('svg'); font-style: normal; font-weight: normal; }
@font-face { font-family: 'FGBook'; src: url('../webfonts/frabk-webfont.eot'); src: url('../webfonts/frabk-webfontd41d.eot?#iefix') format('eot'),  url('../webfonts/frabk-webfont.woff') format('woff'),  url('../webfonts/frabk-webfont.ttf') format('truetype'),  url('../webfonts/frabk-webfont.svg#webfontbRCxujAM') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FGBookHeavy'; src: url('../webfonts/fgh.eot'); src: url('../webfonts/fgh.eot') format('embedded-opentype'),  url('../webfonts/fgh.woff') format('woff'),  url('../webfonts/fgh.ttf') format('truetype'),  url('../webfonts/fgh.svg#FranklinGothicHeavyRegular') format('svg'); }
@font-face {
    font-family: 'FGHeavy';
    src: url('../webfonts/franklin_gothic_heavy.eot');
    src: url('../webfonts/franklin_gothic_heavyd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/franklin_gothic_heavy.woff') format('woff'),
         url('../webfonts/franklin_gothic_heavy.ttf') format('truetype'),
         url('../webfonts/franklin_gothic_heavy.svg#FGHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'menus';
    src: url('../webfonts/ozguven-webfont.eot');
    src: url('../webfonts/ozguven-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/ozguven-webfont.woff') format('woff'),
         url('../webfonts/ozguven-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINProBlack';
    src: url('../webfonts/dinpro-black.eot');
    src: url('../webfonts/dinpro-blackd41d.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/dinpro-black.woff') format('woff'),
    url('../webfonts/dinpro-black.ttf') format('truetype'),
    url('../webfonts/dinpro-black.svg#DINProBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
  ************************************************************************
  *  LAYOUT STYLE
  ************************************************************************
*/
html { margin:0px !important; padding:0px; }
body { font-family: Calibri, Arial, sans-serif; font-size: 12px; min-width: 980px; }
header { display: block; background-image:url(../../images/menu-bg-repeat-x.png); background-repeat:repeat-x; background-position:left 50px; min-width: 980px; width: 100%; margin: 0; position: fixed; left: 0; top: 0; z-index:8; }
header .wrapper { display: block; overflow: hidden; margin: 0 auto 0 auto; width:960px; position: relative; height: 160px; }
header .topMenus { display: block; float: right; overflow: hidden; clear: right; padding-top: 14px; height:36px; }
header .topMenus a { display: block; float: right; color: #77777b; margin-left: 12px; width: 28px; height: 27px; overflow: hidden; text-indent: -9999px; }
header .topMenus a:hover { color: #ed1c24; }
header .topMenus a.facebook { background: url(../../images/facebook-f.jpg) top left no-repeat; }
header .topMenus a.twitter { background: url(../../images/twitter-t.jpg) top left no-repeat; }
header .topMenus a.instagram { background: url(../../images/instagram.png) top left no-repeat; width: 65px;}
header .topMenus a.vimeo { background: url(../../images/vimeo.jpg) top left no-repeat; width: 45px; margin-right: 40px; }
header h1 { display: block; overflow: hidden; clear:both; width:136px; height:137px; background-image:url(../../images/ozguven-h1.png); background-repeat:no-repeat; background-position:left top; text-indent:-9999px; position: absolute; left:108px; top:22px; cursor:pointer; outline:none; }
nav { display: block; overflow: hidden; clear: both; font-size:18px; font-weight:bold; position: relative; /*background-color:#0F0;*/ }
nav ul { display: block; overflow: hidden; clear: both; height:59px; list-style:none; margin:0px; margin-top:8px; padding: 0px; }
nav ul li { display: block; overflow:hidden; float: left; height:59px; padding-right:2px; background-image:url(../../images/nav-border.png); background-repeat:no-repeat; background-position:right center; }
nav ul li.firstLi { width:250px; background:none; }
nav ul li.lastLi { background:none; }
nav ul li a { color: #f6e2d6; display: block; overflow:hidden; clear:both; height:59px; padding:0px 12px; text-align: center; }
nav ul li a span { display:table-cell; height:59px; text-align:center; vertical-align:middle; }
nav ul li a:hover { color: #ffffff; }
nav ul li a#nav_home { text-align: left; }
/*nav ul li a#nav_profil { width: 103px; }
nav ul li a#nav_profil span { padding-top: 16px; }
nav ul li a#nav_proje { width: 120px; }
nav ul li a#nav_proje span { padding-top: 16px; }
nav ul li a#nav_uygulama { width: 124px; }
nav ul li a#nav_uygulama span { padding-top: 16px; }
nav ul li a#nav_hakkimizda { width: 120px; }
nav ul li a#nav_iletisim { width: 121px; }*/
nav ul li a span em { /*font-size: 14px; */text-decoration: none; }
footer { display: block; overflow: hidden; height: 60px; min-width: 980px; width: 100%; margin: 0; position: fixed; left: 0; bottom: 0; z-index: 5001; background-color: #820c0f; color: #fff; font-size:11px; }
footer .wrapper { display: block; overflow: hidden; margin: 0px auto; width: 912px; text-align: center; padding-top: 16px; padding-bottom: 4px; }
footer .wrapper strong { color:yellow; }
#skrollr-body { width: 100%; /*height:100% !important;*/
min-height: 100%; /*position:fixed*/
z-index:1;
}

/*
  ************************************************************************
  *  VALIDATE STYLE
  ************************************************************************
*/
input, textarea, select { border: 1px solid #adadad; padding: 2px; border-radius: 2px; outline: none; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #a7a7a7; box-shadow: inset 1px 1px 2px #ccc; }
.invalidInput { border: 1px solid #f94b4b; background-color: #ffaeae; color: #333; padding: 3px; border-radius: 3px; }
.validInput { color: #2B6FB6; }
.errorOK { background-color: #a6ff9f; display: block; border: 1px solid #51a76b; padding: 4px 6px; margin-top: 2px; margin-bottom: 2px; clear: both; border-radius: 4px; width: 96%; line-height: 1.1em; font-size: 0.9em; }
.errorFAIL { background-color: #FFCC00; display: block; border: 1px solid #FF9622; padding: 4px 6px; margin-top: 2px; margin-bottom: 2px; clear: both; border-radius: 4px; width: 96%; line-height: 1.1em; font-size: 0.9em; }
.infoError { background-color: #ffc8c8; border: 1px solid #ffaeae; padding: 6px; margin-bottom: 12px; }


/*
  ************************************************************************
  *  GALLERY CSS 
  ************************************************************************
*/
.pdf { display: block; background: url(../../images/pdf.png) 5px 8px no-repeat; padding-left: 44px !important; }
.xls { display: block; background: url(../../images/xls.png) 5px 8px no-repeat; padding-left: 44px !important; }
.xlsx { display: block; background: url(../../images/xlsx.png) 5px 8px no-repeat; padding-left: 44px !important; }
.doc { display: block; background: url(../../images/doc.png) 5px 8px no-repeat; padding-left: 44px !important; }
.docx { display: block; background: url(../../images/docx.png) 5px 8px no-repeat; padding-left: 44px !important; }
.ppt { display: block; background: url(../../images/ppt.png) 5px 8px no-repeat; padding-left: 44px !important; }
.pptx { display: block; background: url(../../images/pptx.png) 5px 8px no-repeat; padding-left: 44px !important; }
.zip { display: block; background: url(../../images/zip.png) 5px 8px no-repeat; padding-left: 44px !important; }
.rar { display: block; background: url(../../images/rar.png) 5px 8px no-repeat; padding-left: 44px !important; }
.png { display: block; background: url(../../images/png.png) 5px 8px no-repeat; padding-left: 44px !important; }
.jpg { display: block; background: url(../../images/jpg.png) 5px 8px no-repeat; padding-left: 44px !important; }
.psd { display: block; background: url(../../images/psd.png) 5px 8px no-repeat; padding-left: 44px !important; }
.tif { display: block; background: url(../../images/tif.png) 5px 8px no-repeat; padding-left: 44px !important; }
.html { display: block; background: url(../../images/html.png) 5px 8px no-repeat; padding-left: 44px !important; }
.link { display: block; background: url(../../images/link.png) 5px 8px no-repeat; padding-left: 44px !important; }
.extension { display: block; padding-left: 44px !important; background-repeat: no-repeat; background-position: 5px 8px; }

/* IMAGE AREA */
.imageGallery { display: block; overflow: hidden; clear: both; padding:20px 0px 10px 0px; }
.imageGallery a { display: block; overflow:hidden; float: left; margin-right:8px; margin-bottom:10px; padding:2px; background-color:#fff; }
.imageGallery a:hover { background-color:#ad1015; }

/* CATALOGUE | ARCHIVE AREA */
.galleryList { display: block; clear: both; list-style: none; margin: 0px; padding: 0px !important; }
.galleryList li { border: 1px solid #D1D1D1; border-radius: 2px; background: #F3F3F3; background: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%); margin-right: 4px; margin-bottom: 4px; text-align: left; }
.galleryList li a { display: block; padding: 8px 14px; color: #4b4b4b !important; }
.galleryList li a:hover { color: #DE3C3E !important; }
/* MEDIA AREA */
.mediaGallery { display: block; clear: both; overflow: hidden; padding: 5px 0; }
.mediaGallery a { display: block; float: left; border: 1px solid #fff; border-radius: 3px; margin-right: 7px; margin-bottom: 8px; padding: 4px; background-color: white; box-shadow: 1px 1px 3px #b9b9b9; }
/*
  ************************************************************************
  *  GALLERY TABBED CSS 
  ************************************************************************
*/
#tabbedGallery { display: block; overflow: hidden; clear: both; margin-top: 10px; }
#tabbedGallery #tabbedGalleryHeadArea { display: block; overflow: hidden; clear: both; min-height: 25px; margin: 0 6px; padding-left: 5px; }
#tabbedGallery #tabbedGalleryHeadArea span { display: block; overflow: hidden; float: left; margin-left: -5px; padding: 3px 16px 2px 16px; color: #047261; font-size: 14px; border: 1px solid #cdcdcd; border-bottom: none; border-radius: 5px 5px 0px 0; position: relative; z-index: 0; cursor: pointer; outline: none; background-color: #E0E0E0 }
#tabbedGallery #tabbedGalleryHeadArea span:hover, #tabbedGallery #tabbedGalleryHeadArea span.active { padding-left: 16px; color: #c31b21; z-index: 1; background-color: #fff }
#tabbedGallery #tabbedGalleryPublishArea { display: block; overflow: hidden; clear: both; margin-top: -1px; padding: 8px 6px 0 6px; border: 1px solid #cdcdcd; border-radius: 6px; position: relative; z-index: 0; }
#tabbedGallery #tabbedGalleryPublishArea .galleryP { display: none; overflow: hidden; clear: both; position: relative; z-index: 0; }
#tabbedGallery #tabbedGalleryPublishArea .galleryP.active { display: block; }
/*
  ************************************************************************
  *  ACCORDION CSS 
  ************************************************************************
*/
#accordion { display: block; overflow: hidden; }
#accordion .accord-border {/*border: 1px solid #dfdfdf; padding: 4px; margin-bottom: 4px; */ border-top: 1px dotted #888888; }
#accordion .accord-border:last-child { border-bottom: 1px dotted #888888; }
#accordion .accord-border h3 { background-color: #e5e5e5; font-family: 'DINBekRegular'; font-size: 16px; padding: 8px; display: block; overflow: hidden; cursor: pointer; }
#accordion .accord-border h3:hover { background-color: #0D71A4; }
#accordion .accord-border h3 .accord-ico1 { display: block; float: left; width: 22px; height: 35px; background: url(../../images/icon-1.png) top left no-repeat; }
#accordion .accord-border h3 .accord-title { display: block; float: left; padding-top: 12px; }
#accordion .accord-border h3 .accord-ico2 { display: block; float: right; width: 35px; height: 35px; background: url(../../images/icon-2.png) top left no-repeat; }
#accordion .accord-border .accord-content { display: none; text-align: justify; padding: 10px 2px; }
#accordion .active h3 { background-color: #0D71A4; color: #fff; }
#accordion .active h3 .accord-ico1 { background: url(../../images/icon-1-hover.png) top left no-repeat; }
#accordion .active h3 .accord-title { }
#accordion .active h3 .accord-ico2 { background: url(../../images/icon-2-hover.png) top left no-repeat; }
#accordion .active .accord-content { display: block; }
/*
  ************************************************************************
  *  STYLE CSS 
  ************************************************************************
*/
.clear { clear: both; }
.clearLeft { clear: left; }
.clearRight { clear: right; }
.alignLeft { float: left; }
.alignRight { float: right; }
.alignLeft10 { float: left; margin-right: 10px; }
.alignLeft20 { float: left; margin-right: 20px; }
.alignRight10 { float: right; margin-left: 10px; }
.alignRight20 { float: right; margin-left: 20px; }
.normal { font-size: 1em; font-weight: normal; }
.italic { font-size: 1em; font-style: oblique; }
.strong { font-size: 1em; font-weight: bold; }
.strongItalic { font-size: 1em; font-style: oblique; font-weight: bold; }
.radius { border-radius: 4px }
.shadow { box-shadow: 2px 2px 2px rgba(0,0,0,0.4) }
.shadowInset { box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4) }
.tl:after { font-family: "tlWebFonts", serif; content: "t"; padding-left: 2px; }
.del { display: block; color: #c1c1c1; /*float: left;*/ padding-top: 2px; text-decoration: line-through; }
.ins { display: block; color: #910028; /*float: right;*/ font-size: 1.1em; font-weight: bold; }
/*
  ************************************************************************
  *  PAGE STYLE
  ************************************************************************
*/
.pagination { padding: 3px; margin: 3px; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #999999; color: #444444; }
.pagination a:hover, div.pagination a:active { border: 1px solid #444444; color: #fff; background-color: #444444; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #444444; background-color: #444444; color: #fff; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #bfbfbf; color: #d5d3d3; cursor: wait; }
/*
  ************************************************************************
  *  INDEX MEMBERS
  ************************************************************************
*/
#topMembersForm { overflow: hidden; float: right; padding-top: 30px; }
#topMembersForm label { display: block; float: left; }
#topMembersForm .login-title { float: left; }
#topMembersForm .login-rooter { float: left; }
#topMembersForm input { border: 1px solid #adadad; padding: 4px; border-radius: 4px; }
#topMembersForm input:focus { border: 1px solid #a7a7a7; box-shadow: inset 1px 1px 2px #ccc; }
.index-loged-in { overflow: hidden; float: right; }
.index-loged-in .welcomes { display: block; float: left; }
.index-loged-in .my-page { display: block; float: left; }
.index-loged-in .logged-out { display: block; float: left; }
/*
  ************************************************************************
  *  CALENDAR GUIDE
  ************************************************************************
*/
iframe[name='calendar'] { width: 216px; height: 250px; }
/*
  ************************************************************************
  *  POLL
  ************************************************************************
*/
iframe[name='poll'] { width: 400px; height: 250px; }
/*
  ************************************************************************
  *  RATINGS
  ************************************************************************
*/
.show_ratings { display: block; overflow: hidden }
.show_ratings .star-rating { width: 80px; height: 16px; float: left; background: url(../../images/ratings.png); cursor: pointer; }
.show_ratings .star { width: 16px; height: 16px; float: left; }
.show_ratings .result { float: left; height: 16px; color: #454545; margin-left: 5px; line-height: 110%; }
/*
  ************************************************************************
  *  COMMENT AREA
  ************************************************************************
*/
.comments { display: block; clear: both; }
.comments fieldset { border: 1px solid #9a9a9a; padding: 20px; border-radius: 6px; }
.comments fieldset legend { color: #444444; font-size: 1.2em; padding: 10px; }
.comments fieldset label { display: block; clear: left; padding-bottom: 4px; }
.comments fieldset input[type='text'], .comments fieldset input[type='password'], .comments fieldset textarea { display: block; width: 99%; padding: 4px; border: 1px solid #9a9a9a; border-radius: 4px; }
.comments span.requires { font-size: 0.9em; color: red; }
.comments fieldset input:focus, .comments fieldset textarea:focus { border-width: 1px; border-color: coral; border-style: solid; }
.comments fieldset input[type='submit'] { display: block; padding: 4px; border: 1px solid #9a9a9a; border-radius: 4px; background-color: #DFDFDF; }
.comments .yorumSonuc { display: block; clear: both; padding-bottom: 20px; color: red; }
.comments .yorumSonuc span { color: #333; }
.comments .com-list { clear: both; padding-top: 6px; }
.comments .com-list ul { padding: 0; margin: 0; list-style-type: none; }
.comments .com-list ul li { border: 1px solid #9a9a9a; padding: 10px; margin-bottom: 4px; background-color: #f8f7f7; border-radius: 6px; }
.comments .com-list ul li strong { display: block; float: left; font-size: 0.9em; color: #a8a8a8; font-weight: normal; }
.comments .com-list ul li span { display: block; float: right; font-size: 0.9em; color: #a8a8a8; font-weight: normal; }
.comments .com-list ul li p { display: block; clear: both; overflow: hidden; padding-top: 3px; }
/*
  ************************************************************************
  *  ARTICLE CSS 
  ************************************************************************
*/
.article-info { border: 1px solid #999999; background-color: #CCC; display: block; overflow: hidden; clear: both; }
.article-info .show_social { display: block; float: left; margin-right: 4px; }
.article-info .show_hits { display: block; float: left; margin-right: 4px; }
.article-info .show_print { display: block; float: left; margin-right: 4px; }
.article-info .show_email { display: block; float: left; margin-right: 4px; }

/* MODAL STYLE CSS
   ========================================================================== */

/* POPUP PAGE */
#popup {
    position: relative;
    background: #FFF;
    padding: 15px;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}

#popup .mfp-close {
    right: -10px;
    top: -37px;
}



.footer-kvkk {
    text-align: center;
    padding-top: 20px;
    background-color: #262525;
    padding-bottom: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #ffffff;
    line-height: 29px;
}
.footer-kvkk a {
    color: #e64343;
}

table {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #212529;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

table a {
    color: #ffffff;
    font-weight: bold;
}

.kvkk a{
    color: #000000;
}

.hide {
    display: none !important;
}

.footer-kvkk .onayliyorum {
    background: #dab747;
    padding: 2px 4px;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
}

input[disabled] {
    background-color: #eee !important;
    border: 1px solid #eee !important;
    color: #000000 !important;
}