@charset "utf-8";
/*
  ************************************************************************
  *  LAYOUT CSS 
  ************************************************************************
  * font-family: 'Dosis', sans-serif;
  * font-family: 'Shadows Into Light Two', cursive;
*/
body { background-color:#d6d6d6; color:#404040; }
header { height:210px; background-color:#d6d6d6;  }
#headerBg { display: block; clear:both; position:relative; }
#viewport { width: 100%; position: relative; z-index: 2; overflow: visible; }
.slide-wrapper { width: 960px; min-height:920px; margin: 0px auto; position: relative; top: 0px; right: 0%; bottom: 0px;  left: 0%;  z-index: 3; overflow: visible;}

#headerArea { display:block; overflow:hidden; clear:both; width:920px; margin:0 auto; position:relative; top:-60px; z-index:1; background-image:url(../../images/mimari-hader-bg.png); background-repeat:no-repeat; background-position:center top; }
#headerOpenClose { display:block; overflow:hidden; clear:both; width:356px; height:33px; margin:0px auto; background-image:url(../../images/open-close-top-project.png); background-repeat:no-repeat; background-position:center top; text-align:center; color:#ffffff; font-size:16px; line-height:18px; position:relative; }
#headerOpenClose>.menuOC { display:block; overflow:hidden; clear:both; width:120px; height:21px; text-align:center; position:absolute; left:112px; top:0px; z-index:1; cursor:pointer; outline:none; }
#headerOpenClose>#projectsList { display:block; overflow:hidden; clear:both; width:48px; height:33px; text-indent:-99999px; position:absolute; left:64px; top:0px; z-index:1; cursor:pointer; outline:none; }
#headerOpenClose>#projectsPausePlay { display:block; overflow:hidden; clear:both; width:58px; height:33px; text-indent:-99999px; position:absolute; right:66px; top:0px; z-index:1; cursor:pointer; outline:none; }
#headerOpenClose>#prewProject { display:block; overflow:hidden; clear:both; width:40px; height:33px; text-indent:-99999px; position:absolute; left:20px; top:0px; z-index:1; cursor:pointer; outline:none; }
#headerOpenClose>#nextProject { display:block; overflow:hidden; clear:both; width:40px; height:33px; text-indent:-99999px; position:absolute; right:20px; top:0px; z-index:1; cursor:pointer; outline:none; }
#headerWrapper { display:block; overflow:hidden; clear:both; width:964px; height:59px; margin:0px auto; position:relative; }
#headerWrapper h1 { display: block; position: absolute; overflow: hidden; width:144px; height:59px; text-indent: -9999px; left:0px; top:0px; background-color:#561113; background-image:url(../../images/ozguven.png); background-repeat:no-repeat; background-position:center center; }

.languages{
    display: block;
    overflow: hidden;
    position:absolute;
    top: 14px;
}
.languages a{
    display: block;
    float: left;
    margin-right: 7px;
}

#navigations { display: block; overflow: hidden; clear: both; margin-left:144px; font-size:16px; font-weight:bold; position: relative; }
#navigations ul { display: block; overflow: hidden; clear: both; height:59px; list-style:none; margin:0px; padding: 0px; }
#navigations ul li { display: block; overflow:hidden; float: left; height:59px; padding-right:2px; background-image:url(../../images/nav-border.png); background-repeat:no-repeat; background-position:right center; }
#navigations ul li.firstLi {  }
#navigations ul li.lastLi { background:none; }
#navigations ul li a { color: #f6e2d6; display: block; overflow:hidden; clear:both; height:59px; padding:0px 13px; text-align: center; }
#navigations ul li a span { display:table-cell; height:59px; text-align:center; vertical-align:middle; }
#navigations ul li a:hover { color: #ffffff; }
#navigations ul li a#nav_home { padding-left:30px; text-align: left; }


#mimariMenus { display:block; clear:both; width:960px; height:30px; margin:0px auto; margin-top:10px; padding:0px; list-style:none; }
#mimariMenus>li { display:block; float:left; height:30px; background-color:#282828; text-align:center; position:relative; }
#mimariMenus>li>ol { display:none; overflow:hidden; clear:both; width:100%; margin:0px; padding:0px; position:absolute; left:0px; top:30px; }
#mimariMenus>li>ol>li { display:block; overflow:hidden; clear:both; height:30px; background-color:#373737; }
#mimariMenus>li>ol>li:hover { background-color:#cb1317; }
#mimariMenus>li>ol>li>a { display: table-cell; overflow:hidden; clear:both; height:30px; text-align:center; vertical-align:middle; color:#fff; font-size:16px; }
#mimariMenus>li:nth-child(1) { background-color:#818181; }
#mimariMenus>li:nth-child(2) { background-color:#6a6a6a; }
#mimariMenus>li:nth-child(3) { background-color:#4c4c4c; }
#mimariMenus>li:nth-child(4) { background-color:#373737; }
#mimariMenus>li:nth-child(5) { background-color:#282828; }
#mimariMenus>li:nth-child(6) { background-color:#0F0; }
#mimariMenus>li:nth-child(7) { background-color:#0F0; }
#mimariMenus>li:nth-child(8) { background-color:#0F0; }
#mimariMenus>li:nth-child(9) { background-color:#0F0; }
#mimariMenus>li:nth-child(10) { background-color:#0F0; }
#mimariMenus>li.active, #mimariMenus>li:hover { background-color:#cb1317; }
#mimariMenus>li:hover>ol { display:block; }
#mimariMenus>li>a { display: table-cell; overflow:hidden; clear:both; height:30px; text-align:center; vertical-align:middle; color:#fff; font-size:16px; }

.popularProjeler{display: block; clear: both; padding-top:210px; padding-bottom:42px; }
.popularProjeler .mm-list{ display:block; overflow: hidden; clear: both; margin-bottom: 6px; background-color: #fafafa; }
.popularProjeler .mm-list:hover {background-color:#d6d6d6;}
.popularProjeler .mm-list .mm-title{display:table-cell; overflow:hidden; float: left; width: 376px; height: 113px; background-image:url(../../images/mp-ok.png); background-repeat:no-repeat; background-position:318px center; }
.popularProjeler .mm-list .mm-title strong{ display: table-cell; overflow:hidden; height: 113px; vertical-align:middle; font-size:30px; color: #707070; font-weight:normal; padding-left:20px; padding-right:60px; }
.popularProjeler .mm-list:hover .mm-title { background-image:url(../../images/mp-ok-h.png); }
.popularProjeler .mm-list:hover .mm-title strong { color:#404040; }
.popularProjeler .mm-list .mm-img{display: block; float: left; width: 584px; position: relative;}
.popularProjeler .mm-list .mm-img .mm-icon{position: absolute; /*background: url(/images/mimari-proje-logo.png) left top no-repeat;*/ width: 76px; height: 76px; right: 29px; top: 17px;}
.popularProjeler .mm-list:hover .mm-img { opacity:0.6; }

.normalProjeler {display: block; clear: both; overflow: hidden;padding-top: 90px; padding-bottom: 50px; border-bottom: 70px solid #000000; background-color: #820c10;}
.normalProjeler .normal-prew {display: block; float: left; background: url(../../images/mimari-proje-prew.png) left top no-repeat; width: 72px; height: 72px; margin-top: 99px; margin-left: 27px; overflow: hidden; text-indent: -9999px;}
.normalProjeler .normal-prew:hover{background: url(../../images/mimari-proje-prew-over.png) left top no-repeat; }
.normalProjeler .normal-next {display: block; float: left; background: url(../../images/mimari-proje-next.png) left top no-repeat; width: 72px; height: 72px; margin-top: 99px; margin-left: 27px; overflow: hidden; text-indent: -9999px;}
.normalProjeler .normal-next:hover {background: url(../../images/mimari-proje-next-over.png) left top no-repeat; }
.normalProjeler .normal-list {display: block; float: left; width: 705px; margin-left: 27px; overflow: hidden;}
.normalProjeler .normal-list ul{list-style: none; margin: 0px; padding: 0px; width: 705px;}
.normalProjeler .normal-list ul li{float: left; width: 141px; margin-bottom: 7px;}

.prj-wrappers{display: block; clear: both; overflow: hidden; position: absolute; z-index: 44; /*height: 350px;*/  height:64px; width: 920px; bottom: 0px; left: 50%; margin-left: -460px}
.prj-yaylan{display: block; clear: both; overflow: hidden; position: absolute; bottom:-266px; z-index: 45; height: 330px; width: 920px;}
.prj-wrappers .yukariAssagi{display: block; clear: both; overflow: hidden; background: url(../../images/open-close-bottom.png) center top no-repeat; height: 21px; text-align:center; color:#ffffff; font-size:16px; line-height:20px; cursor:pointer; outline:none;}
.prj-wrappers .prj-content{background-color: #820c10; display: block; clear: both; overflow: hidden; height:266px; width: 920px; position:relative; }

.prj-Top { display:block; overflow: hidden; clear: both; padding:8px 14px; color:#fff; font-size:14px; }
.prj-Top>.prj-info { width:300px; display:block; overflow: hidden; float:left; }
.prj-Top>.prj-info table { width: 100%; }
.prj-Top>.prj-info table th{ text-align: right; }
.prj-Top>.prj-info table td { padding:3px 2px; }
.prj-Top>.prj-info table td strong{ color: #ec6346; font-weight:normal; }

.prj-Top>.prj-gallery { width: 564px; display:block; overflow: hidden; float:right; margin-top:6px; }
.prj-Top>.prj-gallery ul{list-style: none; margin: 0px; padding: 0px;}
.prj-Top>.prj-gallery ul li{float: left; padding-right:3px; padding-bottom: 4px;}

.prj-Bottom { display:block; overflow: hidden; clear: both; width: 100%; height:40px; position:absolute; left:0px; bottom:0px; }
.prj-Bottom>.prj-title{ display:block; overflow:hidden; float:left; width:300px; height: 40px; margin-left: 14px; }
.prj-Bottom>.prj-title strong{ height: 40px; display:table-cell; text-align:left; vertical-align:middle; color: #d5555a; font-size:20px; font-weight:normal; }
.prj-Bottom>.prj-back{ display:block; overflow:hidden; float:right; width: 564px; height:40px; margin-right: 14px; background: #000000 url(../../images/gerigeri.jpg) top right no-repeat; text-indent: -9999px;}
.prj-Bottom>.prj-back a{ display: block; height: 40px;}

.construction-wrappers{display: block; clear: both; overflow: hidden; height: 650px; width: 960px; background-image:url(../../images/insaat-uygulamalari-kategori-bg.jpg); background-repeat:no-repeat; background-position:center bottom; background-color:#820c10; border-bottom:72px solid #000; position: absolute; z-index: 44; bottom: 0px; left:0px; }
.construction-wrappers .categorySelect { width:292px; height:262px; display:block; overflow:hidden; clear:both; background-image:url(../../images/category-select-bg.png); background-repeat:no-repeat; background-position:left top; color:#2f0004; font-size:56px; font-family: 'menus'; position:absolute; top:130px; z-index:1; }
.construction-wrappers .categorySelect.catLeft { left:120px; }
.construction-wrappers .categorySelect.catRight { right:120px; }
.construction-wrappers .categorySelect>span { display:block; overflow:hidden; clear:both; padding:40px 16px; }
.construction-wrappers .categorySelect:hover { color:#000; }